<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Console Appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Logger Levels -->
  <logger name="com.example" level="DEBUG"/>

  <!-- Root Logger -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>